<html>
  <form action="/product/delete" method="POST">
    <table style="margin: auto; border: solid orange 1px; padding: 10px">
      <tr>
        <td colspan="2" style="text-align: center">
          <b style="color: red"><%=locals.message %></b>
        </td>
      </tr>
      <tr>
        <td><label>ID</label></td>
        <td><input name="id" /></td>
      </tr>
    </table>
  </form>
</html>
