<html>
  <a href="/product/list?sort=id">Sort by id</a>
  <a href="/product/list?sort=name">Sort by name</a>
  <a href="/product/list?sort=price">Sort by price</a>
  <table style="border: solid orange 1px; padding: 10px">
    <tr>
      <th>name</th>
      <th>descriptions</th>
    </tr>
    <% products.forEach(function(product) { %>
    <tr>
      <th><%= product.name %></th>
      <th><%= product.description %></th>
      <th>
        <a href=<%= "/product/" + product._id + "/delete"%>>Delete product</a>
      </th>
    </tr>
    <% }); %>
  </table>
  <a href="/product/create">Add product</a>
</html>
