<html>

    <form action="register" method="POST" >
        <table style="margin: auto;border: solid orange 1px;padding: 10px;" >
            <tr>
                <td colspan="2" style="text-align: center">
                    <b style="color : red"><%=locals.message %></b>
                </td>
            </tr>
            <tr>
                <td> <label>Email</label></td>
                <td>  <input name="email" /></td>
            </tr>
            <tr>
                <td> <label>Nom</label></td>
                <td>  <input  name="first_name" /></td>
            </tr>
            <tr>
                <td> <label>Prénom</label></td>
                <td>  <input  name="last_name" /></td>
            </tr>
            <tr>
                <td> <label>Sexe</label></td>
                <td>
                    <select name="gender">
                        <option value="male">Homme</option>
                        <option value="female">Femme</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label>Tél</label></td>
                <td>  <input  name="phone" /></td>
            </tr>
            <tr>
                <td> <label>Adresse</label></td>
                <td>  <input  name="address" /></td>
            </tr>
            <tr>
                <td><label>Mot de passe</label></td>
                <td><input type="password" value="Password4968!@" name="password" /></td>
            </tr>
            <tr><td> <button  type="submit">Valider</button></td>
            </tr>
        </table>

    </form>

</html>
